body{
	background-color: rgb(36, 41, 46) !important;
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
}

p, span, small, big{
	color: #eaeaea;
}

big, b{
	color: rgb(158, 38, 38);
}

#box{
	width: 400px;
	margin: 0 auto;
	border: 2px solid rgb(24, 26, 31);
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	background-color: rgb(49, 54, 63) !important;
}
hr{
	margin: 20px;
	background-color: #eaeaea;
}