body {
    background-color: var(--theme-dark-grey) !important;
}

header {
    background: linear-gradient(to right, var(--theme-purple), var(--theme-blue));
    /* background: var(--theme-blue); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-white);
}

p,
span,
small {
    color: var(--theme-off-white);
}

hr {
    background-color: var(--theme-off-white);
}