body {
    background-color: var(--theme-dark-grey) !important;
}

header {
    background: linear-gradient(to right, var(--theme-purple), var(--theme-blue));
}

header a#logo {
    background: url("assets/icons/dark/CubeSat.svg") no-repeat center center / cover;
}

header>div#header-wrapper>div.header-box>#light-switch-wrapper>#slider:before {
    content: "";
    background: url("assets/icons/dark/Moon.svg") no-repeat center center / cover;
}

footer a#insta-icon {
    background: url("assets/icons/dark/Instagram.svg") no-repeat center center / cover;
}

footer a#twitter-icon {
    background: url("assets/icons/dark/Twitter.svg") no-repeat center center / cover;
}

footer a#github-icon {
    background: url("assets/icons/dark/Github.svg") no-repeat center center / cover;
}

footer a#school-icon {
    background: url("assets/icons/dark/School.svg") no-repeat center center / cover;
}

footer a#mail-icon {
    background: url("assets/icons/dark/Mail.svg") no-repeat center center / cover;
}

#scroll-button {
    background: url("assets/icons/dark/Rocket.svg") no-repeat center center / cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-white);
}

p,
span,
small {
    color: var(--theme-off-white);
}