body{
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
	color: black;
}

p, span, small{
	color: #888;
}

big, b{
	color: rgb(158, 38, 38);
}

#box{
	width: 400px;
	margin: 0 auto;
	border: 2px solid #e7e7e7;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	background-color: #F8F8F8!important;
}
#topbox{
	width: 400px;
	margin: 0 auto;
	border: 2px solid #e7e7e7;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	background-color: #F8F8F8!important;
	margin-top: 60px;
}
hr{
	margin: 20px;
	background-color: #eaeaea;
}
#two-things{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	margin-left: 200px;
	margin-right: 200px;
}