:root {
    --body-color: var(--theme-white);
}

html {
    color-scheme: light;
}

body {
    background-color: var(--body-color) !important;
}

header #light-switch-wrapper>#slider:before {
    content: "";
    background: url("assets/icons/light/Sun.svg") no-repeat center center / cover;
}

footer a#insta-icon {
    background: url("assets/icons/light/Instagram.svg") no-repeat center center / cover;
}

footer a#twitter-icon {
    background: url("assets/icons/light/Twitter.svg") no-repeat center center / cover;
}

footer a#github-icon {
    background: url("assets/icons/light/Github.svg") no-repeat center center / cover;
}

footer a#school-icon {
    background: url("assets/icons/light/School.svg") no-repeat center center / cover;
}

footer a#mail-icon {
    background: url("assets/icons/light/Mail.svg") no-repeat center center / cover;
}

#scroll-button {
    background: url("assets/icons/light/Rocket.svg") no-repeat center center / cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-black);

}

p,
span,
small {
    color: var(--theme-off-black);
}