@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --theme-red: #ec1c24;
    --theme-blue: #000058;
    --theme-white: #ffffff;
    --theme-black: #000000;
    --theme-off-black: #888888;
    --theme-off-white: #eaeaea;
    --theme-dark-grey: #24292e;
    --theme-purple: #400080;
    --header-height: 50px;
    --main-width: 80%;
    --theme-time: 0.5s;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: var(--theme-time);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--theme-time);
    background-color: var(--theme-white) !important;
}

header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(to right, var(--theme-red), var(--theme-blue));
    z-index: 999999;
    top: 0;
    transition: var(--theme-time);
}

header div#header-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

header div#header-wrapper>div.header-box {
    height: 100%;
    display: flex;
}

header div#header-wrapper>div.header-box.header-padding {
    flex: 1;
}

header a#logo {
    transition: var(--theme-time);
    /* TODO: Make the width dynamic */
    width: calc(850 / 700 * var(--header-height));
    height: var(--header-height);
    background: url("assets/icons/light/CubeSat.svg") no-repeat center center / cover;
}

header div#header-wrapper>div#title-wrapper {
    display: flex;
    justify-content: space-between;
    width: var(--main-width);
}

header h1 {
    color: var(--theme-white);
    font-size: 35px;
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav>a {
    color: var(--theme-white);
    font-size: 1.25em;
    box-sizing: border-box;
    /* TODO: Make the padding take up all of the cell */
    padding: 10px 1em;
}

header nav>a:hover {
    background-color: var(--theme-white);
    color: black;
    mix-blend-mode: screen;
    transition: var(--theme-time);
    text-decoration: none;
}

header nav>a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

header #light-switch-wrapper {
    position: relative;
    width: 3em;
    height: 1.5em;
    margin: 0;
    margin-right: 1em;
}

header #light-switch-wrapper>input#light-switch {
    opacity: 0;
    width: 0;
    height: 0;
}

header #light-switch-wrapper>#slider {
    outline: 3px solid var(--theme-white);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: var(--theme-time);
    border-radius: 0.75em;
}

header #light-switch-wrapper>#slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.25em;
    top: 0.25em;
    background: url("assets/icons/light/Sun.svg") no-repeat center center / cover;
    transition: var(--theme-time);
    border-radius: 50%;
}

header #light-switch-wrapper>input#light-switch:checked+#slider:before {
    transform: translateX(1.5em);
}

span#header-filler {
    height: var(--header-height);
}

main {
    margin: 1em 0;
    max-width: var(--main-width);
}

main>section>p {
    text-align: justify;
    text-justify: inter-word;
}

main>section>#social-media-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

footer {
    padding-top: 1em;
    border-top: 1px solid var(--theme-off-white);
    text-align: center;
    width: var(--main-width);
}

footer>.footer-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

footer a {
    display: block;
    width: 50px;
    height: 50px;
}

footer a:hover {
    text-decoration: none;
}

footer img {
    width: 50px;
    height: 50px;
}

footer a#insta-icon {
    background: url("assets/icons/light/Instagram.svg") no-repeat center center / cover;
}

footer a#twitter-icon {
    background: url("assets/icons/light/Twitter.svg") no-repeat center center / cover;
}

footer a#github-icon {
    background: url("assets/icons/light/Github.svg") no-repeat center center / cover;
}

footer a#school-icon {
    background: url("assets/icons/light/School.svg") no-repeat center center / cover;
}

footer a#mail-icon {
    background: url("assets/icons/light/Mail.svg") no-repeat center center / cover;
}

#scroll-button {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 3em;
    z-index: 99;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    outline: none;
    border: none;
    background: url("assets/icons/light/Rocket.svg") no-repeat center center / cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-black);
}

p,
span,
small {
    color: var(--theme-off-black);
}